<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or renderData.title or metadata.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="author" content="Nick Marsceau">
    <meta name="title" content="Nick Marsceau develops web applications.">
    <meta name="description" content="Nick Marsceau is a full stack web developer from South Carolina.">
    <meta name="keyword" content="nick, marsceau, full stack, web, software, developer">
    <meta name="generator" content="eleventy">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    {% css %}
      {% include "assets/styles/base.css" %}
    {% endcss %}
	<style>{% getBundle "css" %}</style>
    <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'defer' %}" fetchpriority="low">
  </head>
  <body class="antialiased w-full text-gray-700">
    {% include "layouts/components/header.njk" %}
    {{ content | safe }}
    {% include "layouts/components/footer.njk" %}
    <script>{% getBundle "js" %}</script>
	<script src="{% getBundleFileUrl 'js', 'defer' %}" async></script>
  </body>
</html>
