{% css %}
.postInfo {
    margin-block-end: 1em;
}

@media screen and (min-width: 425px) {
    .postInfo {
        display: flex;
        column-gap: 1em;
    }
}

.postCard .postInfo {
    margin-block-end: 0.25rem;
}
{% endcss %}
<div class="postInfo">
	{% include "layouts/components/postDate.njk" %}
	{% include "layouts/components/postTags.njk" %}
</div>
