{% css %}
.tagList span {
    font-size: 0.7em;
    border: 1px solid var(--celadonBlue);
    color: var(--celadonBlue);
    padding: 0.25em 1em 0.4em;
    border-radius: 2em;
}
{% endcss %}
<div class="tagList">
    {% for tag in tags | filterOut(['posts', 'rss-club']) %}
        <span>{{ tag }}</span>
    {% endfor %}
</div>
