{% set headingTag = headingTag if headingTag else "h2" %}
<article class="postCard">
    <{{ headingTag }}>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
    </{{ headingTag }}>
    <!-- TODO: display the post date here. -->
    <!-- TODO: display the post tags here. -->
    <p>{{ post.data.description }}
</article>