{% set headingTag = headingTag if headingTag else "h2" %}
<article class="postCard">
    <{{ headingTag }}>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
    </{{ headingTag }}>
    <div class="postInfo">
        {% set date = post.data.date %}
        {% include "layouts/components/postDate.njk" %}
        {% set tags = post.data.tags %}
        {% include "layouts/components/postTags.njk" %}
    </div>
    <!-- TODO: display the post tags here. -->
    <p>{{ post.data.description }}
</article>