---
layout: layouts/simple.njk
---
<article>
    <!-- TODO: add a back button here -->
    <header>
        <h1>{{ title }}</h1>
        <div class="postInfo">
            {% include "layouts/components/postDate.njk" %}
            {% include "layouts/components/postTags.njk" %}
        </div>
    </header>
    <section>{{ content | safe }}</section>
</article>
