---
layout: layouts/simple.njk
permalink: "/ai/index.html"
title: AI Policy | Nick Marsceau
---
<h1>AI Policy</h1>

<p>
	None of the content on marsceau.com has, or ever will be, created using generative AI.
	The following videos are a good summary of my views on generative AI:
	<ul>
		<li><a href="https://www.youtube.com/shorts/BFzphfgwv8E">Alex Falcone - Is AI a scam?</a></li>
		<li><a href="https://youtu.be/UShsgCOzER4">Drew Gooden - AI is ruining the internet</a></li>
	</ul>
</p>
