---
layout: layouts/simple.njk
permalink: "/ai"
title: AI Policy | Nick Marsceau
---
<h1>AI Policy</h1>

<p>
	None of the content on marsceau.com has, or ever will be, created using generative AI.
	<a href="https://www.youtube.com/shorts/BFzphfgwv8E">This video from comedian Alex Falcone</a> summarizes my views on generative AI.
</p>
