---
layout: layouts/simple.njk
permalink: "/ai/index.html"
eleventyExcludeFromCollections: true
title: AI Policy | Nick Marsceau
---
<style>
	ul.video-list {
		padding-left: 0;
		list-style-type: none;
	}
</style>
<link href="/assets/styles/lite-yt-embed.css" rel="stylesheet" type="text/css">
<script src="/assets/scripts/lite-yt-embed.js" defer></script>
<h1>AI Policy</h1>
<p>
	None of the content on marsceau.com has, or ever will be, created using generative AI.
	I may use generative AI tools to generate some code that makes up the site, but the
	content in blog posts will always be my own writing.
</p>
