---
layout: layouts/simple.njk
permalink: "/blog{% if pagination.pageNumber > 0 %}/{{ [ pagination.pageNumber, 1] | sum }}{% endif %}/index.html"
eleventyExcludeFromCollections: true
title: Blog | Nick Marsceau
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
---
<h1>The Blog</h1>

{% set postList = posts %}
{% include "layouts/components/postList.njk" %}

<nav class="pagination">
	<div>
		{% if pagination.href.previous %}
			<a href="{{ pagination.href.previous | removeIndexHtml }}">← Newer Posts</a>
		{% endif %}
	</div>
	<div>
		{% if pagination.href.next %}
			<a href="{{ pagination.href.next | removeIndexHtml }}">Older Posts →</a>
		{% endif %}
	</div>
</nav>
