---
layout: layouts/barebones.njk
permalink: "/budgeting/index.html"
title: Budgeting Resources
---
<style>
	body {
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
		font-size: 1.1em;
	}

	main {
		max-width: 35em;
		margin: 0 auto;
	}

	h2 {
		margin-block-end: 0;
	}

	ul {
		margin-block-start: 0.25em;
		line-height: 1.6;
	}

	ul ul {
		margin-block-start: 0;
	}
</style>
<main>
	<h1>Budgeting Resources</h1>
	
	<h2>Pen &amp; Paper</h2>
	<ul>
		<li>
			Search online retailers for "Personal Finance Ledger Book":
			<ul>
				<li>
					<a href="https://www.amazon.com/s?k=Personal+Finance+Ledger+Book&crid=2IVHFCYR6D4OZ&sprefix=personal+finance+ledger+book%2Caps%2C107&ref=nb_sb_noss_1">
						Amazon
					</a>
				</li>
				<li>
					<a href="https://www.walmart.com/search?q=Personal+Finance+Ledger+Book">
						Walmart
					</a>
				</li>
				<li>
					<a href="https://www.ebay.com/sch/i.html?_nkw=Personal+Finance+Ledger+Book&_sacat=0&_from=R40&_trksid=p4432023.m570.l1313">
						eBay
					</a>
				</li>
				<li>
					<a href="https://www.etsy.com/search?q=Personal%20Finance%20Ledger%20Book">
						Etsy
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="https://www.thepennyhoarder.com/budgeting/bullet-journal-budget/">
				The Penny Hoarder - 6 Simple Ways to Use a Bullet Journal to Manage Your Money
			</a>
		</li>
	</ul>

	<h2>Spreadsheets</h2>
	<ul>
		<li>
			<a href="https://create.microsoft.com/en-us/search?query=household%20budget&filters=excel">
				Microsoft 365 - "household budget" Excel Templates
			</a>
		</li>
		<li>
			<a href="https://www.nerdwallet.com/article/finance/free-budget-spreadsheets-templates">
				NerdWallet - 4 Free Budgeting Templates and Spreadsheets
			</a>
		</li>
		<li>
			Software:
			<ul>
				<li>
					<a href="https://www.microsoft.com/en-us/microsoft-365/excel">Microsoft Excel</a>
				</li>
				<li>
					<a href="https://apps.apple.com/us/app/numbers/id409203825?mt=12">Apple Numbers</a>
				</li>
				<li>
					<a href="https://workspace.google.com/products/sheets/">Google Sheets</a>
				</li>
				<li>
					<a href="https://www.libreoffice.org">LibreOffice</a>
				</li>
			</ul>
		</li>
	</ul>

	<h2>Apps</h2>
	<ul>
		<li>
			<a href="https://www.kiplinger.com/personal-finance/how-to-save-money/best-budgeting-apps">
				Kiplinger - Seven of the Best Budgeting Apps
			</a>
		</li>
		<li>
			<a href="https://www.forbes.com/advisor/banking/best-budgeting-apps/">
				Forbes - Best Budgeting Apps Of February 2025
			</a>
		</li>
		<li>
			Check your bank's app for built-in budgeting features.
			Some may offer basic budgeting or expense tracking at no charge.
		</li>
	</ul>
</main>
