---
layout: layouts/simple.njk
permalink: "/colophon/index.html"
eleventyExcludeFromCollections: true
title: Colophon | Nick Marsceau
---
<h1>Colophon</h1>

<h2>Code</h2>
<p>
	I write this website using the Markdown and Nunjucks templating engines, CSS, and as little JS as possible.
	<a href="https://www.11ty.dev/">Eleventy</a> does all the heavy lifting for me.
</p>

<h2>Source Control</h2>
<p>
	Git, with a public repository hosted on <a href="https://github.com/nmarsceau/marsceau.com">GitHub</a>.
</p>

<h2>Hosting</h2>
<p>
	Currently hosted on Netlify, but I'm always entertaining the idea of moving somewhere like Linode or even self-hosting it from my home.
</p>

<h2>Domain Registration</h2>
<p>
	I currently register domains at Cloudflare, though that's likely to change in the near future.
</p>

<h2>Privacy</h2>
<p>
	The only analytics in place for this site are the ones automatically provided by Cloudflare.
	They count the number of requests made and what countries they came from.
	(Additionally, the data is aggregated for all the sites I have connected to Cloudflare, not site-by-site.)
	This will be discontinued whenever I move my domains from Cloudflare to a new registrar.
</p>
<p>
	If I ever reintroduce analytics of any kind, it will be something similar that simply counts visitors.
	This site will never use any sort of user tracking or other invasive analytics.
</p>

<h2>AI</h2>
<p>
	Please see <a href="">/ai</a> for my views on generative AI.<br>
	TL;DR, it's a hard <strong>nope</strong>.
</p>
