---
layout: layouts/simple.njk
permalink: "/postroll/index.html"
title: Postroll | Nick Marsceau
---
<h1>Postroll</h1>
<p><a href="https://slashpages.net/#postroll"><small>What is a postroll?</small></a></p>
<ul class="postroll">
    {%- for post in postroll | reverse -%}
        <li>
            <cite><a href="{{ post.url }}">{{ post.name }}</a></cite>
			<span class="author">By: {{ post.author }}</span>
			<span class="readOn">
				Read on:&nbsp;
				{%- if post.readOn == 'Unknown' -%}
					Unknown
				{%- else -%}
					<time datetime="{{ post.readOn }}">{{ post.readOn | toLocaleDateString }}</time>
				{%- endif -%}
			</span>
        </li>
    {%- endfor -%}
</ul>
