---
layout: layouts/simple.njk
permalink: /blog/
eleventyExcludeFromCollections: true
title: Blog | Nick Marsceau
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
---
<h1>The Blog</h1>

{% set postList = posts %}
{% include "layouts/components/postList.njk" %}

{% if pagination.previous %}
    <a href="{{ pagination.previous | removeIndexHtml }}">Newer Posts</a>
{% endif %}

{% if pagination.next %}
    <a href="{{ pagination.next | removeIndexHtml }}">Older Posts</a>
{% endif %}
