---
title: Nick Marsceau
layout: layouts/simple.njk
---
<section>
	<p>Hi! <span class="hand-waving">👋</span> I'm Nick Marsceau, a full stack web developer from South Carolina.</p>
	<p>
		Check out <a href="https://github.com/nmarsceau">my GitHub</a>
		or read <a href="/blog/">my blog</a>
		to see what I'm working on and learning.
		If you're cool, you'll subscribe via <a href="/blog/feed.xml">RSS</a>.
	</p>
	<p>
		When I'm not working, but I still feel like coding, I enjoy spending time on
		<a href="https://www.codewars.com/users/nmarsceau">Codewars</a>
		and <a href="https://adventofcode.com/">Advent of Code</a>.
		I also enjoy casual biking when I want to get outside. 🚲
	</p>
	<!-- TODO: put a list of the most recent 3 blog posts here. -->
</section>
