---
title: Nick Marsceau
layout: layouts/simple.njk
---
<section>
    <p>Hi! &#x1F44B; I'm Nick Marsceau, a full stack web developer from South Carolina.</p>
    <p>Check out my <a href="https://github.com/nmarsceau">GitHub</a> to see what I'm working on!</p>
</section>
