---
title: Nick Marsceau
layout: layouts/simple.njk
---
<section>
    <p>Hi! &#x1F44B; I'm Nick Marsceau, a full stack web developer from South Carolina.</p>
    <p>
        Check out <a href="https://github.com/nmarsceau">my GitHub</a>
        or read <a href="/blog/">my blog</a>
        to see what I'm working on and learning.
    </p>
    <!-- TODO: put a list of the most recent 3 blog posts here. -->
</section>
