---
layout: layouts/simple.njk
permalink: /tools/
eleventyExcludeFromCollections: true
title: Tools | Nick Marsceau
---
<h1>Tools</h1>

<ul class="icon-list">
    {%- for tool in tools -%}
        <li>
            <img src="/assets/images/icons/{{ tool.icon }}.webp" alt="">
            <a href="{{ tool.url }}">{{ tool.name }}</a>
        </li>
    {%- endfor -%}
</ul>
<h2>Submit a Tool</h2>
<form name="tools" method="post" netlify>
    <div>
        <label for="url">
            URL
            <span class="required">required</span>
            <input type="url" id="url" name="url" placeholder="https://example.com" required>
        </label>
    </div>
    <button type="submit">Submit</button>
</form>